PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/texnopark?retryWrites=true&w=majority
# Alternative names also supported: MONGO_URL, MONGO_URI, DATABASE_URL
MONGO_TIMEOUT_MS=15000
SESSION_SECRET=change_this_secret

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

ADMIN_PHONE=998901234567
ADMIN_PASSWORD=admin123
ADMIN_FIRST_NAME=HALLAYM
ADMIN_LAST_NAME=Admin

ADMIN_CARD_HOLDER=HALLAYM TEXNOPARK
ADMIN_CARD_NUMBER=8600 0000 0000 0000
ADMIN_BANK_NAME=Tijorat banki
